
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Gestão - Dashboard</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="index.html">GestãoAPP</a>
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Início</a></li>
                <li><a href="projetos.html">Projetos</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        {% block conteudo %}
        {% endblock conteudo %}
    </main>
</body>
</html>