{% extends "base.html" %}


{% block conteudo %}
<!-- Cartões Informativos (Dashboard) -->
        <section class="dashboard-grid">
            
            <div class="card-metrica card-projetos">
                <div class="metrica-header">
                    <span class="metrica-titulo">Total de Projetos</span>
                </div>
                <span class="metrica-valor">1</span>
                <p class="metrica-descricao">Projetos registrados no sistema</p>
            </div>

            <div class="card-metrica card-tarefas">
                <div class="metrica-header">
                    <span class="metrica-titulo">Total de Tarefas</span>
                </div>
                <span class="metrica-valor">1</span>
                <p class="metrica-descricao">Atividades cadastradas</p>
            </div>

            <div class="card-metrica card-pendentes">
                <div class="metrica-header">
                    <span class="metrica-titulo">Tarefas Ativas</span>
                </div>
                <span class="metrica-valor">1</span>
                <p class="metrica-descricao">Pendentes de conclusão</p>
            </div>

        </section>
{% endblock conteudo %}
